In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\House_Loan\\loan_data.csv")

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
import pandas as pd

print(df.describe())

df['DAYS_EMPLOYED'].hist()

df['DAYS_EMPLOYED'].plot(kind='box')

df.plot(x='DAYS_EMPLOYED', y='AMT_CREDIT', kind='scatter')

In [ ]:
numeric_columns = df.select_dtypes(include=['int64', 'float64'])

correlation_matrix = numeric_columns.corr()

print(correlation_matrix)

plt.figure(figsize=(15, 10))
sns.heatmap(correlation_matrix, annot=False, cmap='coolwarm', linewidths=0.5)
plt.title('Matriz de CorrelaciÃ³n entre Variables NumÃ©ricas')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df['AMT_INCOME_TOTAL'], bins=30, kde=True)
plt.title('DistribuciÃ³n de AMT_INCOME_TOTAL')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(x='CODE_GENDER', y='AMT_INCOME_TOTAL', data=df)
plt.title('Boxplot de AMT_INCOME_TOTAL por GÃ‰NERO')
plt.show()

In [ ]:
plt.figure(figsize=(8, 5))
sns.countplot(x='CODE_GENDER', data=df)
plt.title('Frecuencia de GÃ©neros (CODE_GENDER)')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(x='AMT_INCOME_TOTAL', y='AMT_CREDIT', data=df)
plt.title('RelaciÃ³n entre AMT_INCOME_TOTAL y AMT_CREDIT')
plt.show()

In [ ]:
sns.pairplot(df[['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE']])
plt.show()

In [ ]:
plt.figure(figsize=(15, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
plt.title('Matriz de CorrelaciÃ³n entre Variables NumÃ©ricas')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.violinplot(x='CODE_GENDER', y='AMT_INCOME_TOTAL', data=df)
plt.title('DistribuciÃ³n de AMT_INCOME_TOTAL por GÃ©nero (Violin Plot)')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.swarmplot(x='CODE_GENDER', y='AMT_INCOME_TOTAL', data=df, size=3)
plt.title('Swarmplot de AMT_INCOME_TOTAL por GÃ©nero')
plt.show()

In [ ]:
g = sns.FacetGrid(df, col='NAME_CONTRACT_TYPE', row='CODE_GENDER', margin_titles=True)
g.map(sns.histplot, 'AMT_INCOME_TOTAL')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxenplot(x='NAME_FAMILY_STATUS', y='AMT_INCOME_TOTAL', data=df)
plt.title('DistribuciÃ³n de AMT_INCOME_TOTAL por Estado Civil')
plt.xticks(rotation=45)
plt.show()